<!DOCTYPE html>

<title>Hello PageController!</title>

{% block body %}
<div class="">
    <h1>Hello {{content.title}}</h1>
    <h2>{{content.intro | raw }}</h2>
    {{content.body| raw}}
</div>
{% endblock %}
